.home-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    height: 100%;
}
.bg-img-container{
    background-size: cover;
    background-blend-mode: darken;
    background: rgba(0, 0, 0, 0.7) url("https://res.cloudinary.com/enchanting/f_auto,q_100,w_1280,h_600,c_fill/et-web/2022/11/Waterfall-in-Iceland.png");;
    width: 100vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 30px;
}
.bg-img-container h1{
    font-family: "Roboto";
    font-size: 40px;
    color: #ffffff;
    font-weight: 600;
    margin-bottom: 15px;
}
.bg-img-container p{
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
}
.bottom-content-container{
    background-color: #f3ecec;
    height: 100%;
    width: 100vw;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-grow: 1;
}
.bottom-content-container p{
    width: 70vw;
    height: 100%;
    font-family: "Roboto";
    font-size: 20px;
}
.form-container{
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.select-container{
    padding: 8px 15px 4px;
    font-family: "Roboto";
    height: 40px;
    font-weight: 500;
}
.trip-btn,.submit-btn{
    padding: 8px 15px;
    color: #ffffff;
    height: 40px;
    background-color: #e27881;
    font-family: "Roboto";
    border: none;
    font-weight: 500;
}
.trip-btn:hover,.submit-btn:hover{
    background-color: rgb(11, 131, 65);
}
.popup-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 30px;
    border-radius: 10px;
}
.trigger-button{
    align-self: flex-end;
    border: none;
    background-color: transparent;
}
.popup-form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}
.popup-container p{
    margin-bottom: 10px;
}
.input{
    padding: 5px 10px;
    outline: none;
    width: 100%;
    margin: 5px;
    color: #000;
    font-family: "Roboto";
    font-weight: 500;
}
.duration-date-container{
    display: flex;
    align-items: center;
    width: 100%;
}
.days-input{
    margin: 5px 5px 5px 0px;
    padding: 5px 10px;
    outline: none;
    width: 100%;
    color: #000;
    font-family: "Roboto";
    font-weight: 500;
}
.date-input{
    margin: 5px 0px 5px 5px;
    width: 100%;
    padding: 5px 10px;
    outline: none;
    width: 100%;
    color: #000;
    font-family: "Roboto";
    font-weight: 500;
}
.submit-btn{
    border-radius: 8px;
    margin-top: 10px;
}
.popup-form-container p{
    color: #e00e0e;
    font-family: "Roboto";
    margin-top: 10px;
}